body {
    margin: 0;
    position: relative;
    // background-color: #FFF8E7;
    background: linear-gradient(rgba(255, 248, 231, 0.6), rgba(255, 248, 231, 0.6)), url("../assets/repeated-square.png");
    background-attachment: fixed;
}