body {
    background-color: $backgroundAndLightText;
    background: linear-gradient(rgba(255, 248, 231, 0.6), rgba(255, 248, 231, 0.6)), url("../assets/repeated-square.png");
    background-attachment: fixed;
    margin: 0;
    position: relative;
}