.contact {
    background-color: $layoutBackgroundAndMainText;
    font-family: 'Open Sans';
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
    bottom: 0;
    & p, 
    &__getInTouch {
        color: $backgroundAndLightText;
    }
    & p {
        font-size: 1.4rem;
        position: relative;
        top: 25px;
    }
    &__iconList {
        display: flex;
        margin-top: 15px;
    }
    &__listItem {
        list-style: none;
    }
    &__midIcon {
        margin: 0px 15px;
    }
    &__iconList i {
        color: $accent;
        font-size: 4.2rem;
        transition: $standardTransition;
    }
    &__iconList i:hover {
        color: $backgroundAndLightText;
        transform: scale(1.1);
    }
}