.mainHeader {
    background-color: #2f2504;
    background: linear-gradient(rgba(47, 37, 4, 1.0), rgba(47, 37, 4, 0.9)), url("../assets/torontoBackground.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    width: 100%;
    padding: 300px 0;
    text-align: center;
    &__helloThere {
        color: #FFF8E7;
        margin-top: 225px;
    }
}

.codeHeader { 
    background-color: #2F2504;
    height: 312px;
    &__title {
        position: relative;
        top: 245px;
        color: #FFF8E7;
        font-family: 'Nunito', 'sans-serif';
        font-size: 5.4rem;
        z-index: 1;
    }
}

.codeHeader canvas {
    height: 312px !important;
    position: absolute;
    top: 0;
}