.topNav {
    background-color: #2F2504;
    position: fixed;
    width: 100%;
    padding: 5px;
    z-index: 2;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        color: #FFF8E7;
        font-family: 'Nunito';
        font-size: 3.2rem;
        font-weight: 700;
        transition: all 0.3s ease;
    }
    &__list {
        display: flex;
    }
    &__listItem, 
    &__dropdownRow {
        list-style: none;
        vertical-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 15px;
    }
    &__hamburger, 
    &__exit, 
    &__dropdown {
        display: none;
    }
    &__hamburger, 
    &__exit {
        position: absolute;
        right: 15px;
    }
    &__dropdown {
        text-align: center;
        margin: 0 auto;
    }
    &__dropdownRow {
        margin: 5px 0;
    }
    &__listItem a, 
    &__dropdownLink {
        font-family: 'Open Sans';
        font-size: 1.8rem;
        color: #DA9F93;
        transition: all 0.3s ease;
    }
    &__listItem a:hover,
    &__dropdownLink:hover {
        color: #FFF8E7;
    }
    &__logo:hover {
        text-shadow: 5px 5px 0 rgba(0,0,0,1);
    }
    @media (max-width: 600px) {
        &__list {
            display: none;
        }
    }
    @media (max-width: 450px) {
        &__dropdownLink {
            text-align: left;
            font-size: 1.6rem;
        }
    }
}

.show.topNav__exit {
    display: block;
}

@media (max-width: 600px) {
    .show.topNav__hamburger {
        display: block;
    }
}