html {
    font-size: 62.5%;
}

h1 {
    color: $backgroundAndLightText;
    font-family: 'Nunito', 'sans-serif';
    font-size: 10.0rem;
    text-shadow: 10px 10px 0 rgba(0,0,0,1);
}

h2 {
    color: $layoutBackgroundAndMainText;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 2.8rem;
}

h3 {
    color: $layoutBackgroundAndMainText;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 2.2rem;
}

p {
    color: $layoutBackgroundAndMainText;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.6rem;
    margin-top: 15px;
}