.mainHeader {
    background-color: $layoutBackgroundAndMainText;
    background: linear-gradient(rgba(47, 37, 4, 1.0), rgba(47, 37, 4, 0.9)), url("../assets/torontoBackground.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    width: 100%;
    padding: 300px 0;
    text-align: center;
    &__helloThere {
        color: $backgroundAndLightText;
        margin-top: 225px;
    }
}

.about {
    &__container {
        display: flex;
        background-color: $sectionBackground;
        box-shadow: 0px 0px 10px #aaa;
    }
    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__box1 {
        width: 30%;
        padding-left: 100px;
    }
    &__box2 {
        width: 70%;
        padding: 100px;
    }
    &__jacquiPhoto {
        width: 255px;
        border-radius: 100%;
        cursor: url('../assets/hello-cursor-small.png'), auto;
    }
    @media (max-width: 1350px) {
        &__container {
            flex-direction: column;
        }
        &__box1 {
            width: 100%;
            padding: 0;
        }
        &__box2 {
            width: 100%;
            padding-top: 0;
        }
        &__jacquiPhoto {
            width: 255px;
            margin: 50px auto;
        }
        &__container h2,
        &__container h3 {
            text-align: center;
        }
    }
    @media (max-width: 630px) {
        &__box2 {
            padding: 0 50px 50px 50px;
        }
        &__box2 p {
            font-size: 1.4rem;
        }
    }
}

.jacquiCodes {
    width: 100%;
    height: 400px;
    background: $layoutBackgroundAndMainText;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    & canvas {
        height: 400px !important;
        position: absolute;
    }
    &__link {
        width: 50%;
        z-index: 1;
        display: block;
    }
    &__button {
        width: 100%;
        background-color: $layoutBackgroundAndMainText;
        border: 2px dashed $accent;
        transition: all 0.3s ease;
    }
    &__buttonText {
        color: $accent;
        font-family: 'Nunito', 'sans-serif';
        font-size: 3.2rem;
        width: 100%;
        padding: 10px 0;
        margin: 0;
        font-weight: 700;
        transition: all 0.3s ease;
    }
    &__codeBlurb {
        color: $backgroundAndLightText;
        z-index: 1;
    }
    &__button:hover {
        border: 2px dashed $backgroundAndLightText;
        color: $backgroundAndLightText;
    }
    &__buttonText:hover {
        color: $backgroundAndLightText;
    }
    @media (max-width: 500px) {
        &__buttonText {
            font-size: 2.0rem;
        }
    }
}

.interests {
    &__inner {
        background-color: $sectionBackground;
        box-shadow: 0px 0px 10px #aaa;
        height: 100%;
        padding: 100px;
    }
    &__container {
        display: flex;
        margin-top: 15px;
    }
    &__box {
        font-size: 1.6rem;
        width: 50%;
    }
    @media (max-width: 1405px) {
        &__box p {
            font-size: 1.4rem;
        }
    }
    @media (max-width: 1265px) {
        &__container {
            flex-direction: column;
        }
        &__box {
            width: 100%;
        }
        &__container h2 {
            text-align: center;
        }
    }
    @media (max-width: 755px) {
        &__inner {
            padding: 50px;
        }
    }
    @media (max-width: 630px) {
        &__box {
            list-style: none;
        }
    }
}