// Color palette
$layoutBackgroundAndMainText: #2F2504;
$backgroundAndLightText: #FFF8E7;
$sectionBackground: #FAEBD7;
$accent: #DA9F93;
$buttonText: #463F3A; 
$sectionSecondary: #9F8170;
$sectionTertiary: #5C5248; 
$fourth: #E2BCB3;
$midi: #664C43; 

