html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-position: inside;
  vertical-align: center;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

li p {
  display: inline-block;
}

html {
  font-size: 62.5%;
}

h1 {
  color: #FFF8E7;
  font-family: 'Nunito';
  font-size: 10.0rem;
  text-shadow: 10px 10px 0 black;
}

h2 {
  font-family: 'Open Sans';
  color: #463F3A;
  font-size: 2.8rem;
}

h3 {
  font-family: 'Open Sans';
  color: #463F3A;
  font-size: 2.2rem;
}

p {
  font-family: 'Open Sans';
  color: #463F3A;
  font-size: 1.6rem;
  margin-top: 15px;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  position: relative;
  background-color: #FFF8E7;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.topNav {
  background-color: #2F2504;
  position: fixed;
  width: 100%;
  padding: 5px;
  z-index: 2;
}

.topNav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topNav__logo {
  color: #FFF8E7;
  font-family: 'Nunito';
  font-size: 3.2rem;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topNav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topNav__listItem, .topNav__dropdownRow {
  list-style: none;
  vertical-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}

.topNav__hamburger, .topNav__exit, .topNav__dropdown {
  display: none;
}

.topNav__hamburger, .topNav__exit {
  position: absolute;
  right: 15px;
}

.topNav__dropdown {
  text-align: center;
  margin: 0 auto;
}

.topNav__dropdownRow {
  margin: 5px 0;
}

.topNav__listItem a, .topNav__dropdownLink {
  font-family: 'Open Sans';
  font-size: 1.8rem;
  color: #DA9F93;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topNav__listItem a:hover, .topNav__dropdownLink:hover {
  color: #FFF8E7;
}

.topNav__logo:hover {
  text-shadow: 5px 5px 0 black;
}

@media (max-width: 600px) {
  .topNav__list {
    display: none;
  }
}

@media (max-width: 450px) {
  .topNav__dropdownLink {
    text-align: left;
    font-size: 1.6rem;
  }
}

.show.topNav__exit {
  display: block;
}

@media (max-width: 600px) {
  .show.topNav__hamburger {
    display: block;
  }
}

.mainHeader {
  background-color: #2F2504;
  width: 100%;
  padding: 300px 0;
  text-align: center;
}

.mainHeader__helloThere {
  color: #FFF8E7;
  margin-top: 225px;
}

button {
  background-color: #DA9F93;
  border-radius: 15px;
  color: #463F3A;
  padding: 10px 30px;
  cursor: pointer;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FAEBD7;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__box1 {
  width: 30%;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__box2 {
  width: 70%;
  padding: 100px;
}

.about__jacquiPhoto {
  width: 100%;
  border-radius: 100%;
}

.jacquiCodes {
  width: 100%;
  height: 400px;
  background: #2F2504;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.jacquiCodes__button {
  width: 50%;
  background-color: #2F2504;
  border: 2px dashed #DA9F93;
  z-index: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.jacquiCodes__buttonText {
  font-family: 'Nunito';
  color: #DA9F93;
  font-size: 3.2rem;
  padding: 10px 0;
  margin: 0;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.jacquiCodes__codeBlurb {
  color: #FFF8E7;
  z-index: 1;
}

.jacquiCodes__button:hover {
  border: 2px dashed #FAEBD7;
}

.jacquiCodes__buttonText:hover {
  color: #FAEBD7;
}

@media (max-width: 500px) {
  .jacquiCodes__buttonText {
    font-size: 2.0rem;
  }
}

canvas {
  height: 400px !important;
  position: absolute;
}

.interests__inner {
  background-color: #FAEBD7;
  height: 100%;
  padding: 100px;
}

.interests__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.interests__box {
  width: 50%;
}

.contact {
  font-family: 'Open Sans';
  padding: 50px 0;
  width: 100%;
  bottom: 0;
  background-color: #2F2504;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__getInTouch {
  color: #FFF8E7;
}

.contact__iconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.contact__listItem {
  list-style: none;
}

.contact__midIcon {
  margin: 0px 15px;
}

.contact__iconList i {
  font-size: 4.2rem;
  color: #DA9F93;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact__iconList i:hover {
  color: #FAEBD7;
}
