html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

li {
  list-style-position: inside;
  vertical-align: center;
}

a {
  text-decoration: none;
}

button {
  border-style: none;
}

li p {
  display: inline-block;
}

html {
  font-size: 62.5%;
}

h1 {
  color: #FFF8E7;
  font-family: 'Nunito';
  font-size: 10.0rem;
  text-shadow: 10px 10px 0 black;
}

h2 {
  font-family: 'Open Sans';
  color: #463F3A;
  font-size: 2.8rem;
}

h3 {
  font-family: 'Open Sans';
  color: #463F3A;
  font-size: 2.2rem;
}

p {
  font-family: 'Open Sans';
  color: #463F3A;
  font-size: 1.6rem;
  margin-top: 15px;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 248, 231, 0.6)), to(rgba(255, 248, 231, 0.6))), url("../assets/repeated-square.png");
  background: linear-gradient(rgba(255, 248, 231, 0.6), rgba(255, 248, 231, 0.6)), url("../assets/repeated-square.png");
  background-attachment: fixed;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.topNav {
  background-color: #2F2504;
  position: fixed;
  width: 100%;
  padding: 5px;
  z-index: 2;
}

.topNav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.topNav__logoContainer {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topNav__logo {
  color: #FFF8E7;
  font-family: 'Nunito';
  font-size: 3.2rem;
  font-weight: 700;
  text-shadow: 5px 5px 0 black;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topNav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topNav__listItem, .topNav__dropdownRow {
  list-style: none;
  vertical-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}

.topNav__hamburger, .topNav__exit, .topNav__dropdown {
  display: none;
}

.topNav__hamburger, .topNav__exit {
  position: absolute;
  right: 15px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topNav__dropdown {
  text-align: center;
  margin: 0 auto;
}

.topNav__dropdownRow {
  margin: 5px 0;
}

.topNav__listItem a, .topNav__dropdownLink {
  font-family: 'Open Sans';
  font-size: 1.8rem;
  color: #DA9F93;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topNav__hamburger:hover, .topNav__exit:hover {
  background-color: #FFF8E7;
}

.topNav__listItem a:hover, .topNav__dropdownLink:hover {
  color: #FFF8E7;
}

.topNav__logoContainer:hover {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.topNav__logo:hover {
  text-shadow: none;
}

@media (max-width: 600px) {
  .topNav__list {
    display: none;
  }
}

@media (max-width: 450px) {
  .topNav__dropdownLink {
    text-align: left;
    font-size: 1.6rem;
  }
}

.show.topNav__exit {
  display: block;
}

@media (max-width: 600px) {
  .show.topNav__hamburger {
    display: block;
  }
}

.mainHeader {
  background: -webkit-gradient(linear, left top, left bottom, from(#2f2504), to(rgba(47, 37, 4, 0.9))), url("../assets/torontoBackground.jpg");
  background: linear-gradient(#2f2504, rgba(47, 37, 4, 0.9)), url("../assets/torontoBackground.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  width: 100%;
  padding: 300px 0;
  text-align: center;
}

.mainHeader__helloThere {
  color: #FFF8E7;
  margin-top: 225px;
}

.codeHeader {
  background-color: #2F2504;
  height: 303px;
}

.codeHeader__title {
  position: relative;
  top: 240px;
  color: #FFF8E7;
  font-size: 4.6rem;
  z-index: 1;
}

.codeHeader canvas {
  height: 250px !important;
  position: absolute;
}

.contact {
  font-family: 'Open Sans';
  padding: 50px 0;
  width: 100%;
  bottom: 0;
  background-color: #2F2504;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__getInTouch {
  color: #FFF8E7;
}

.contact__iconList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.contact__listItem {
  list-style: none;
}

.contact__midIcon {
  margin: 0px 15px;
}

.contact__iconList i {
  font-size: 4.2rem;
  color: #DA9F93;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact__iconList i:hover {
  color: #FFF8E7;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

button {
  background-color: #DA9F93;
  border-radius: 15px;
  color: #463F3A;
  padding: 10px 30px;
  cursor: pointer;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FAEBD7;
}

.about__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__box1 {
  width: 30%;
  padding-left: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__box2 {
  width: 70%;
  padding: 100px;
}

.about__jacquiPhoto {
  width: 255px;
  border-radius: 100%;
}

@media (max-width: 1350px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__box1 {
    width: 100%;
    padding: 0;
  }
  .about__box2 {
    width: 100%;
    padding-top: 0;
  }
  .about__jacquiPhoto {
    width: 255px;
    margin: 50px auto;
  }
  .about__container h2,
  .about__container h3 {
    text-align: center;
  }
}

@media (max-width: 630px) {
  .about__box2 {
    padding: 0 50px 50px 50px;
  }
  .about__box2 p {
    font-size: 1.4rem;
  }
}

.jacquiCodes {
  width: 100%;
  height: 400px;
  background: #2F2504;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.jacquiCodes__link {
  width: 50%;
  z-index: 1;
  display: block;
}

.jacquiCodes__button {
  width: 100%;
  background-color: #2F2504;
  border: 2px dashed #DA9F93;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.jacquiCodes__buttonText {
  color: #DA9F93;
  font-family: 'Nunito';
  font-size: 3.2rem;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.jacquiCodes__codeBlurb {
  color: #FFF8E7;
  z-index: 1;
}

.jacquiCodes__button:hover {
  border: 2px dashed #FFF8E7;
  color: #FFF8E7;
}

.jacquiCodes__buttonText:hover {
  color: #FFF8E7;
}

@media (max-width: 500px) {
  .jacquiCodes__buttonText {
    font-size: 2.0rem;
  }
}

.jacquiCodes canvas {
  height: 400px !important;
  position: absolute;
}

.interests__inner {
  background-color: #FAEBD7;
  height: 100%;
  padding: 100px;
}

.interests__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.interests__box {
  font-size: 1.6rem;
  width: 50%;
}

@media (max-width: 1405px) {
  .interests__box p {
    font-size: 1.4rem;
  }
}

@media (max-width: 1265px) {
  .interests__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .interests__box {
    width: 100%;
  }
  .interests__container h2 {
    text-align: center;
  }
}

@media (max-width: 755px) {
  .interests__inner {
    padding: 50px;
  }
}

@media (max-width: 630px) {
  .interests__box {
    list-style: none;
  }
}

.codeMain {
  background-color: #FAEBD7;
  padding: 100px;
}

.codeMain__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.codeMain__box {
  width: 50%;
  padding: 50px;
}

.codeMain__skills {
  text-transform: uppercase;
}

.codeMain__afterFirsth3 {
  margin-top: 30px;
}

@media (max-width: 1095px) {
  .codeMain {
    padding: 15px 0;
  }
  .codeMain__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .codeMain__box {
    padding: 15px;
  }
}

.codeMain h3 {
  font-size: 3.2rem;
  text-transform: uppercase;
  font-style: italic;
  border-bottom: 10px solid #9F8170;
}

.codeMain h4 {
  font-family: 'Open Sans';
  color: #463F3A;
  font-size: 2.4rem;
}

.codeMain a {
  color: #DA9F93;
  font-weight: 700;
}

.codeMain a:hover {
  text-decoration: underline;
}

.codeMain img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 10px double #5C5248;
}

@media (max-width: 1095px) {
  .codeMain img .codeMain img {
    width: 278px;
  }
}

.codeMain button {
  font-family: 'Open Sans';
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.codeMain button:hover {
  background-color: #2F2504;
  color: #DA9F93;
}
